@model GetAllBookedDetails;

@{
    ViewData["Title"] = "Dashboard";
    Layout = "_AdminLayout";
}

<div class="head-title">
	<div class="left">
		<h1>@ViewData["title"]</h1>
		<ul class="breadcrumb">
			<li>
				<a href="#">Dashboard</a>
			</li>
			<li><i class='bx bx-chevron-right'></i></li>
			<li>
				<a class="active" href="#">Home</a>
			</li>
		</ul>
	</div>
	<a asp-controller="Customer" asp-action="Customer" class="btn-download">
		@* <a href="#" class="btn-download"> *@
@* 		<i class='bx bxs-cloud-download'></i>
		<span class="text">Download PDF</span> *@
		<i class='bx bx-user'></i>
		<span class="text">User Site</span>
	</a>
</div>

<ul class="box-info">
	<li>
		<i class='bx bxs-calendar-check'></i>
		<span class="text">
			@* <h3><input id="b_Id" type="text" name="BookedId" class="form-control" readonly/></h3> *@
			<h3 id="b_Id"></h3>
			<p>New Order</p>
		</span>
	</li>
	<li>
		<i class='bx bxs-group'></i>
		<span class="text">
			@* <h3><input id="s_Id" type="text" name="SignupId" class="form-control" readonly/></h3> *@
			<h3 id="s_Id"></h3>
			<p>Visitors</p>
		</span>
	</li>
	<li>
		<i class='bx bx-rupee'></i>
		<span class="text">
			@* <h3><input id="b_deposit" type="text" name="Deposit" class="form-control" readonly/></h3> *@
			<h3 id="b_deposit"></h3>
			<p>Total Sales</p>
		</span>
	</li>
	<li>
		<i class='bx bx-archive-in'></i>
		<span class="text">
			@* <h3><input id="b_deposit" type="text" name="Deposit" class="form-control" readonly/></h3> *@
			<h3 id="b_complete"></h3>
			<p>Completed</p>
		</span>
	</li>
</ul>

<div class="card w-100 shadow">
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="myTableDashboard" style="width:100% !important">
				<thead>
					<tr>
						<th>@Html.DisplayNameFor(model => model.RequestedEventsModel.Id)</th>
						<th>@Html.DisplayNameFor(model => model.SignUpModel.Username)</th>
						<th>@Html.DisplayNameFor(model => model.AddEventModel.Amount)</th>
						<th>@Html.DisplayNameFor(model => model.RequestedEventsModel.Deposit)</th>
						<th>@Html.DisplayNameFor(model => model.RequestedEventsModel.Balance)</th>
						<th>@Html.DisplayNameFor(model => model.RequestedEventsModel.Date)</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<script src="~/js/Dashboard.js" asp-append-version="true"></script>