@model GetAllBookedDetails;

@{
    ViewData["Title"] = "Message";
    Layout = "_AdminLayout";
}

<h2>@ViewData["title"]</h2>


<div class="modal fade" id="viewMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewMessageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewMessageModalLabel">Message View</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form>

                    <input hidden id="v_Id" name="Id" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Username" class="form-label">Username : </label>
                                <input id="v_Username" type="text" name="Username" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Email" class="form-label">Email : </label>
                                <input id="v_Email" type="email" name="Email" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Location" class="form-label">Location : </label>
                                <input id="v_Location" type="text" name="Location" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Capacity" class="form-label">Capacity : </label>
                                <input id="v_Capacity" type="text" name="Capacity" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Occassion" class="form-label">Occassion : </label>
                                <input id="v_Occassion" type="text" name="Occassion" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Description" class="form-label">Description : </label>
                                <input id="v_Description" type="text" name="Description" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<div class="card w-100 shadow-sm">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="myTable" style="width:100% !important">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.MessageModel.Id)</th>
                        <th>@Html.DisplayNameFor(model => model.MessageModel.Location)</th>
                        <th>@Html.DisplayNameFor(model => model.MessageModel.Budget)</th>
                        <th>@Html.DisplayNameFor(model => model.MessageModel.Occassion)</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script src="~/js/message.js" asp-append-version="true"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}