@model Admin_UserModel;

@* @model IEnumerable<Event_Management_App.Models.Admin_UserModel> *@

@{
    ViewData["title"] = "Admin";
    Layout = "_AdminLayout";
}

<div class="col-xl-12" style=" display: flex; justify-content: space-between;">

    <h2>@ViewData["title"]</h2>

    <p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAdmin">
            AddAdmin
        </button>
    </p>
</div>

<!-- Modal for Add Data -->
<div class="modal fade" id="addAdmin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addAdminLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAdminLabel">Add Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearForm()"></button>
            </div>

            <div class="modal-body">

                <form id="create" action="#" name="add">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Username" class="form-label">Username : </label>
                                <input id="Username" type="text" asp-for="Username" class="form-control" autocomplete="off" maxlength="50" required />
                            </div>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Email" class="form-label">Email : </label>
                                <input id="Email" type="email" asp-for="Email" class="form-control" autocomplete="off" maxlength="50" required />
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="SPassword" class="form-label">Password : </label>
                                <input id="SPassword" type="password" asp-for="SPassword" class="form-control" autocomplete="off" maxlength="30" required />
                            </div>
                            <span asp-validation-for="SPassword" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ConfirmSPassword" class="form-label">Confirm Password : </label>
                                <input id="ConfirmSPassword" type="password" asp-for="ConfirmSPassword" class="form-control" autocomplete="off" maxlength="30" required />
                            </div>
                            <span asp-validation-for="ConfirmSPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Contact" class="form-label">Contact : </label>
                                <input id="Contact" type="text" asp-for="Contact" class="form-control" autocomplete="off" maxlength="10" required />
                            </div>
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Address" class="form-label">Address : </label>
                                <input id="Address" type="text" asp-for="Address" class="form-control" autocomplete="off" maxlength="100" required />
                            </div>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="IdProofFile" class="form-label">IdProof : </label>
                                <input id="IdProofFile" asp-for="IdProofFile" type="file" class="form-control" autocomplete="off" required />
                            </div>
                            <span asp-validation-for="IdProofFile" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ProfileFile" class="form-label">Profile : </label>
                                <input id="ProfileFile" asp-for="ProfileFile" type="file" class="form-control" autocomplete="off" required />
                            </div>
                            <span asp-validation-for="ProfileFile" class="text-danger"></span>
                        </div>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="submit" onclick="addAdmin()" action="#" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Update Data -->
<div class="modal fade" id="updateAdmin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateAdminModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateAdminModalLabel">Update Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form id="update">

                    <input hidden id="u_Id" name="Id" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Username" class="form-label">Username : </label>
                                <input id="u_Username" type="text" asp-for="Username" class="form-control" autocomplete="off" required />
                            </div>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Email" class="form-label">Email : </label>
                                <input id="u_Email" type="email" asp-for="Email" class="form-control" autocomplete="off" required />
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Contact" class="form-label">Contact : </label>
                                <input id="u_Contact" type="text" asp-for="Contact" class="form-control" autocomplete="off" maxlength="10" required />
                            </div>
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Address" class="form-label">Address : </label>
                                <input id="u_Address" type="text" asp-for="Address" class="form-control" autocomplete="off" required />
                            </div>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="IdProofFile" class="form-label">IdProof : </label>
                                <input id="u_IdProofFile" type="file" name="IdProofFile" class="form-control" onchange="previewIdProof(this)" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3" style="display: flex; flex-direction: column;">
                                <img id="IdProofUpdate" style="max-width: 50%; max-height: 150px; margin-top: 10px; display: none;">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ProfileFile" class="form-label">Profile : </label>
                                <input id="u_ProfileFile" type="file" name="ProfileFile" class="form-control" onchange="previewProfile(this)" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3" style="display: flex; flex-direction: column;">
                                <img id="ProfileUpdate" style="max-width: 50%; max-height: 150px; margin-top: 10px; display: none;">
                            </div>
                        </div>
                    </div>


                    <div class="form-group pb-3 mt-2">
                        <div class="input-field">
                            @Html.DropDownListFor(model => model.Role, new SelectList(new List<Object>()
                            {
                            new { value = 1 , text = "Admin" },
                            new { value = 2 , text = "User"  }
                            }, "value", "text"), "Select Role", new { @class = "w-100 border-0" })
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })

                    <div class="modal-footer">
                        <button type="button" onclick="updateAdmin()" class="btn btn-success">Update</button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<!-- Modal for View Data -->
<div class="modal fade" id="viewAdmin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="viewAdminModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewAdminModalLabel">Admin View</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form>

                    <input hidden id="v_Id" name="Id" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Username" class="form-label">Username : </label>
                                <input id="v_Username" type="text" name="Username" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Email" class="form-label">Email : </label>
                                <input id="v_Email" type="email" name="Email" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Contact" class="form-label">Contact : </label>
                                <input id="v_Contact" type="text" name="Contact" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Address" class="form-label">Address : </label>
                                <input id="v_Address" type="text" name="Address" class="form-control" autocomplete="off" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="IdProofFile" class="form-label">IdProof : </label>
                                <input id="u_IdProofFile" type="file" name="IdProofFile" class="form-control" onchange="previewIdProof(this)" autocomplete="off" hidden />
                                <div class="mb-3" style="display: flex; flex-direction: column;">
                                    <img id="IdProofView" style="max-width: 50%; max-height: 150px; margin-top: 10px; display: none;">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="ProfileFile" class="form-label">Profile : </label>
                                <input id="u_ProfileFile" type="file" name="ProfileFile" class="form-control" onchange="previewProfile(this)" autocomplete="off" hidden />
                                <div class="mb-3" style="display: flex; flex-direction: column;">
                                    <img id="ProfileView" style="max-width: 50%; max-height: 150px; margin-top: 10px; display: none;">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<div class="card w-100 shadow">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="myTable1" style="width:100% !important">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                        <th>@Html.DisplayNameFor(model => model.Username)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script src="~/js/admin.js" asp-append-version="true"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}